# exclude compiled binaries and external models
/bin

# exclude data from source control by default

.Rproj.user


# Other
.DS_Store
.RData
.Rhistory
.csv
.xlsx
.RDS
/data/*

/docs/*
/results/*
.eps
.ai
.png

